<!-- Se indica que la clase completed, solo aparecerá si está completado -->
<li [class.completed]="todo.completado" [class.editing]="editando">
  <div class="view">
    <input class="toggle" type="checkbox" [formControl]="chkCompletado" />

    <!-- Para controlar el evento doble clic en un elemento -->
    <label (dblclick)="editar()">{{ todo.texto }}</label>

    <button class="destroy"></button>
  </div>
  <!-- (blur) se ejecuta cuando el input pierde el foco -->
  <!-- Unna referencia local es con el # -->
  <input
    class="edit"
    [formControl]="txtInput"
    (blur)="terminarEdicion()"
    type="text"
    #inputFisico
    [value]="todo.texto"
  />
</li>
